<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand ms-3" href="#">Tour experts</a>

        <!-- Toggle button with image -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" >
            <img src="./assets/images/menu-bar(1).png" alt="Menu">
        </button>

        <!-- Offcanvas menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas Navbar</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Offcanvas content -->
                <ul class="navbar-nav mx-auto"> <!-- Align center -->
                    <li class="nav-item">
                        <a class="nav-link " href="/home-carousel">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Destination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Popular Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-between contact-btn d-grid gap-2"> <!-- Align contact button to the right -->
                    <a class="btn btn-outline-warning btn-sm " href="tel:9677518806">9677518806</a>
                </div>
            </div>

        </div>

        <!-- Contact button -->

    </div>
</nav>
