
<div class="about-wrapper">
<div class="container about-container">
    <!-- First row -->
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../../assets/images/himesh-kumar-behera-t11oyf1K8kA-unsplash.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Our History</h5>
                    <p class="card-text">Established in 2016, Tour Experts swiftly emerged as a leader in the travel industry, driven by our commitment to excellence and innovation. Proudly holding ISO 9001:2008 certification, Tour Experts is committed to setting clear objectives, prioritizing effectively, and optimizing resources. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Second row -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">At Tour Experts, our mission is to redefine travel experiences, one journey at a time. We are committed to curating unforgettable adventures that inspire, enrich, and leave a lasting impact on our travelers. Our dedication to excellence ensures that every aspect of your journey, from planning to execution, is meticulously crafted to exceed expectations.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Vision</h5>
                    <p class="card-text">We understand that satisfaction is key to building lasting relationships with our clients. At Tour Experts, we pride ourselves on delivering unparalleled customer service that goes above and beyond expectations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whytour container">
    <h3 class="text-center">Why do you Choose?</h3>
    <div class="d-flex flex-row flex-wrap justify-content-around about-card-why">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            
            <div class="card-body">
                
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            
            <div class="card-body">
                
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
</div>